---
---

$header-bg-color: #5c0c79;
$header-bg-color-secondary: #7d3e7f;
$section-headings-color: #5c0c79;

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    text-align: center;
}

@import "{{ site.theme }}";